@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body, section, div, header, footer, main, aside, nav, blockquote, p, a, span {
    margin: 0;
    padding: 0; 
    text-decoration: none;
}

img, svg {
    vertical-align: middle;
}

body {
    @include text;
    font-size: 16px;
    color: var(--color-default); 
    background-color: #fff6f2;
    overflow-x: hidden;  /*Nödvändig?*/
}

@media (max-width: 768px) {
    .layout {
        flex-direction: column;
    }

    .auto-hiding-nav-menu {
        display: none !important;
        width: 0;
    }

    main {
        margin-left: 0 !important; // Tack ChatGPT
    }

    .mobile-nav {
        display: flex; 
        justify-content: center;
        flex-wrap: wrap;
    }
}