@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

$h: 1em;
$r: .5*$h;
$b: .15em;

@mixin val() {
    border-radius: $r - $b;
    box-shadow: inset 0 .05em .05em rgba(#fff, .35);
    background: var(--fill)
}

progress {
    box-sizing: border-box;
    border: solid $b #242b35;
    width: 12.5em;
    height: $h;
    border-radius: $r;
    background: linear-gradient(#191c23, #2d3341);
    font: clamp(.625em, 7.5vw, 5em) monospace;

    &::-webkit-progress-bar {
        background: transparent
    }

    &::-webkit-progress-value {
        @include val()
    }

    &::-moz-progress-bar {
        @include val()
    }  
}

progress.yellow-orange {
    --fill: repeating-linear-gradient(90deg, transparent 0 #{$b}, #f1c00c 0 #{$r}) #{.5*$r}, linear-gradient(#f3c402, #ed7401);
}

progress.red-orange {
    --fill: linear-gradient(#ffec9d, transparent 85%), linear-gradient(90deg, #ffe94b, #f94745);
}

progress.red {
    --fill: linear-gradient(#{rgba(#e2664c, .65)}, transparent), repeating-linear-gradient(135deg, #a22215 0 #{.5*$r}, #be2a20 0 #{$r});
}

progress.purple {
    --fill: linear-gradient(#{rgba(#d783e3, .5)}, transparent), conic-gradient(from -30deg at 25%, transparent 240deg, #8b42ab 0%) 0/ #{$h - 2*$b}, conic-gradient(from -30deg at 75%, #8b42ab 240deg, #9956b3 0%) 0/ #{$h - 2*$b};
}

progress.pink {
    --fill: linear-gradient(#d0a9e2, transparent 85%), linear-gradient(90deg, #433485, #dd3c6e);
}

progress.blue {
    --fill: linear-gradient(#{rgba(#5af0ff, .85)}, transparent), repeating-linear-gradient(90deg, #123c92 0 #{.125*$r}, #1b5ec6 0 #{$h});
}

html,
body,
section,
div,
header,
footer,
main,
aside,
nav,
blockquote,
p,
a,
span {
    margin: 0;
    padding: 0;
    text-decoration: none;
    max-width: 100%;
    overflow-x: hidden;
    overflow: hidden;
    overflow-y: auto;
}

img, svg {
    vertical-align: middle;
}

img {
    max-width: 100%;
    height: auto;
    }

ol, ul {
    list-style: none;
}

input, button, textarea, select {
    font: inherit;
}

body {
    @include text;
    font-size: 16px;
    /*background-color: #ffadad;*/
      background-color: var( --color-background);
}

@media (max-width: 64rem) {
    .layout {
        flex-direction: column;
    }

    .auto-hiding-nav-menu {
        display: none !important;
        width: 0;
    }

/*    .content-card {
        display: none !important;
        width: 0;
    }*/

    main {
        margin-left: 0 !important; // Tack ChatGPT

    }
}

.main-nav {
    padding-block: 1rem;
    position: absolute;
    width: 100%;
    top: 0;
    margin-inline: auto;
    padding-inline: 1rem;

    .skip-link {
        display: inline-block;
        padding: 1rem;
        background-color: var(--color-background);
        border: 1px solid var(--color-primary);
        border-radius: 0 1rem 1rem 0;
        position: absolute;
        left: -100vw;
        top: 10rem;
        transition: 300ms;

        &:focus {
            left: 0;
        }
    }

    .container {
        position: relative;
        display: flex;
        align-items: center;
    }

    .menu-btn {
        display: none;
        background-color: transparent;
        border: 0;
        padding: 0.5rem 0;
        cursor: pointer;
        position: absolute;
        right: 1rem;
        z-index: 9999;
    }

    .main-menu {
        width: 100%;
        justify-content: space-between;
        margin-left: 3rem;
        display: flex;
        align-items: center;
    }

    .nav-link {
        /*   color: $color-text-navigation;*/
        text-decoration: none;
        font-weight: 600;

        &:hover,
        &:focus-visible {
            color: var(--color-primary);
        }
    }
}

