footer {
     padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--color-background); // Optional for visibility

    .copyright {
        display: flex;
        justify-content: left;
        align-items: left;
        flex-wrap: wrap;
        gap: 20px;
    }

    .copyright p {
        margin: 0;
    }

    .credits a {
        text-decoration: none;
        color: var(--color-accent);
    }

    .credits a:hover {
        text-decoration: underline;
    }
}

#project-footer {
    padding-bottom: 0;
    overflow: hidden;
    width: 100%;
    position: relative;

    .container {
        display: flex;
        flex-direction: column; // Adjust layout for responsiveness
        align-items: flex-start;
        width: 100%;
        justify-content: space-between;
        padding: 0 20px; // Adjust padding for consistent spacing
        margin: 0 auto; // Center content horizontally
    }

    &:after {
        content: "";
        display: block;
        height: 0;
    }
}

/* Ensure footer alignment with the grid */
.wrapper footer {
    grid-row: 3; // Place footer in the third row of the grid
    align-self: stretch; // Ensure it spans the full width
}
