#signup {
    height: 100vh;
    width: 100vw;
    padding: 2rem 0;
    background-color: #f9f9f9;

    .container {
        max-width: 500px;
        margin: 0 auto;
        padding: 2rem;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

        .logo {

            img {
                width: 75%;
                height: 75%;
                margin: auto;
                display: block;
            }
        }

        h5 {
            text-align: center;
            color: #333;
            margin-bottom: 1rem;
            font-size: 1.5rem;
        }

        p {
            text-align: center;
            font-size: 0.875rem;

            a {
                color: #007bff;
                text-decoration: none;
                transition: color 0.3s;

                &:hover {
                    color: #0056b3;
                }
            }
        }

        hr {
            border-top: 1px solid #ddd;
            margin: 1.5rem 0;
        }

        .form {

            .form-floating {
                position: relative;
                margin-bottom: 1rem;

                label {
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding: 0.75rem;
                    pointer-events: none;
                    transition: all 0.3s;
                    color: #777;
                    font-size: 0.875rem;
                }

                input {
                    width: 100%;
                    padding: 1rem;
                    font-size: 1rem;
                    border: 1px solid #ddd;
                    border-radius: 4px;

                    &:focus {
                        border-color: #007bff;
                        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
                    }
                }

                input:focus + label,
                input:not(:placeholder-shown) + label {
                    top: -10px;
                    left: 10px;
                    font-size: 0.75rem;
                    color: #007bff;
                }
            }

            .checkbox {
                margin-bottom: 1.5rem;

                label {
                    display: flex;
                    align-items: center;
                    font-size: 0.875rem;

                    .form-check-input {
                        margin-right: 0.5rem;
                        width: 18px;
                        height: 18px;
                    }
                }
            }

            .btn {
                display: block;
                width: 100%;
                padding: 0.75rem;
                font-size: 1.125rem;
                border: none;
                border-radius: 4px;
                transition: background-color 0.3s;
            }

            .text-danger {
                color: #dc3545;
                font-size: 0.875rem;
            }
        }

        .social-or {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin: 15px 0px;

            &::before,
            &::after {
                content: '';
                flex: 1;
                border-bottom: 1px solid #DDD;
                margin: 0 10px;
            }
        }

        .social-option {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;

            .socialmedia-item {
                color: var(--color-primary);
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 15px;

                &::after {
                    content: none;
                }

                i {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 24px;
                    width: 50px;
                    height: 50px;
                    border: 2px solid var(--color-primary);
                    border-radius: 50%;
                    background-color: transparent;
                    transition: background-color 0.3s ease;
                }

                i:hover {
                    background-color: var(--color-secondary);
                    color: #fff;
                }
            }
        }

        .footer-copy {
            margin-top: 1rem;
        }
    }
}
