@page "/showcase"
<link rel="stylesheet" href="/css/main.css" />
<style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 2rem;
        }

        .button-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1rem;
            margin-top: 2rem;
        }

   

	body {
		background: #141E30; /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #243B55, #141E30); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		color: #fff;
	}

	hr {
		border-top: 1px solid #9E9E9E;
	}	
    </style>

<progress class="yellow-orange" value="65" max="100"></progress>
<progress class="red-orange" value="65" max="100"></progress>
<progress class="red" value="65" max="100"></progress>
<progress class="purple" value="65" max="100"></progress>
<progress class="pink" value="65" max="100"></progress>
<progress class="blue" value="65" max="100"></progress>



    <h1>Button Showcase</h1>

    <div class="button-container">
    <button class="btn btn-secondary">Primary Button</button>

    <button class="btn btn-gray-100">Gray 100</button>
    <button class="btn btn-gray-200">Gray 200</button>
    <button class="btn btn-gray-300">Gray 300</button>
    <button class="btn btn-gray-400">Gray 400</button>
    <button class="btn btn-gray-500">Gray 500</button>
    <button class="btn btn-gray-600">Gray 600</button>
    <button class="btn btn-gray-700">Gray 700</button>
    <button class="btn btn-gray-800">Gray 800</button>
    <button class="btn btn-gray-900">Gray 900</button>
    <button class="btn btn-theme">Theme</button>
    <button class="btn btn-danger">Danger</button>
    <button class="btn btn-danger-dark">Danger Dark</button>
    <button class="btn btn-success">Success</button>
    <button class="btn btn-warning">Warning</button>
    <button class="btn btn-info">Info</button>
    <button class="btn btn-primary">Primary</button>
    <button class="btn btn-secondary">Secondary</button>
    <button class="btn btn-third">Third</button>
    <button class="btn btn-fourth">Fourth</button>
</div>


 <h4>Normal Buttons</h4>
	<div class="row">
		<div class="col">
		    <button class="col btn btn-purple-moon">Purple Moon</button>
		</div>
		<div class="col">
		    <button class="col btn btn-ultra-voilet">Ultra Voilet</button>
		</div>
		<div class="col">
		    <button class="col btn btn-pink-moon">Pink Moon</button>
		</div> 
		<div class="col">
		    <button class="col btn btn-cool-blues">Cool Blues</button>
		</div> 
		<div class="col">
		    <button class="col btn btn-dark-blue">Dark Blue</button>
		</div> 
		</div>
	
	<div class="row mt-3">
	    <div class="col">
		    <button class="col btn btn-green-moon">Green Moon</button>
		</div> 
		<div class="col">
		    <button class="col btn btn-orange-moon">Orange Moon</button>
		</div>
		<div class="col">
		    <button class="col btn btn-dark-moon">Dark Moon</button>
		</div>
		<div class="col">
		    <button class="col btn btn-light-moon">Light Moon</button>
		</div>
		<div class="col">
		    <button class="col btn btn-funky-moon">Funky Moon</button>
		</div>
	</div>
	
	<hr class="my-5" />
	<h4>Rounded Buttons</h4>
	<div class="row">
		<div class="col">
		    <button class="col btn btn-purple-moon btn-rounded">Purple Moon</button>
		</div>
		<div class="col">
		    <button class="col btn btn-ultra-voilet btn-rounded">Ultra Voilet</button>
		</div>
		<div class="col">
		    <button class="col btn btn-pink-moon btn-rounded">Pink Moon</button>
		</div> 
		<div class="col">
		    <button class="col btn btn-cool-blues btn-rounded">Cool Blues</button>
		</div> 
		<div class="col">
		    <button class="col btn btn-dark-blue btn-rounded">Dark Blue</button>
		</div> 
		</div>
	
	<div class="row mt-3">
	    <div class="col">
		    <button class="col btn btn-green-moon btn-rounded">Green Moon</button>
		</div> 
		<div class="col">
		    <button class="col btn btn-orange-moon btn-rounded">Orange Moon</button>
		</div>
		<div class="col">
		    <button class="col btn btn-dark-moon btn-rounded">Dark Moon</button>
		</div>
		<div class="col">
		    <button class="col btn btn-light-moon btn-rounded">Light Moon</button>
		</div>
		<div class="col">
		    <button class="col btn btn-funky-moon btn-rounded">Funky Moon</button>
		</div>
	</div>
	
	<hr class="my-5" />
	<h4>Fab Buttons</h4>
	<div class="row">
		<div class="col">
		    <button class="btn btn-purple-moon btn-fab">1</button>
		</div>
		<div class="col">
		    <button class="btn btn-ultra-voilet btn-fab">2</button>
		</div>
		<div class="col">
		    <button class="btn btn-pink-moon btn-fab">3</button>
		</div> 
		<div class="col">
		    <button class="btn btn-cool-blues btn-fab">4</button>
		</div> 
		<div class="col">
		    <button class="btn btn-dark-blue btn-fab">5</button>
		</div> 
		</div>
	
	<div class="row mt-3">
	    <div class="col">
		    <button class="btn btn-green-moon btn-fab">6</button>
		</div> 
		<div class="col">
		    <button class="btn btn-orange-moon btn-fab">7</button>
		</div>
		<div class="col">
		    <button class="btn btn-dark-moon btn-fab">8</button>
		</div>
		<div class="col">
		    <button class="btn btn-light-moon btn-fab">9</button>
		</div>
		<div class="col">
		    <button class="btn btn-funky-moon btn-fab">10</button>
		</div>
		</div>
