.darkmode-toggle {
    position: absolute;
    right: 12rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    p {
        color: var(--color-text-navigation);
        font-weight: 600;
    }
}

.toggle {
    --_width: 46px;
    --_height: 24px;
    position: relative;
    flex-shrink: 0;
    width: var(--_width);
    height: var(--_height);
    display: inline-block;

    input[type="checkbox"] {
        width: 0;
        height: 0;
        opacity: 0;
    }

    .slider {
        position: absolute;
        inset: 0;
        background-color: #6366F1;
        border-radius: 100vw;
        transition: 250ms;
    }

    .slider::after {
        position: absolute;
        content: '';
        top: 2px;
        left: 2px;
        height: calc(100% - 4px);
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: #000;
        transition: all 250ms;
    }

    input[type="checkbox"]:checked ~ .slider::after {
        left: calc(100% - var(--_height) + 2px);
    }

    input[type="checkbox"]:checked ~ .slider {
        background-color: #6366F1;
    }
}

@media (max-width: 540px) {
    .darkmode-toggle p {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0,0,0,0);
        white-space: nowrap;
        border-width: 0;
    }
}
