@mixin button {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: .9rem;
}

@mixin btn {
/*    display: inline-block;
*/    cursor: pointer;
    border-radius: 3px;
    border: 1px solid;
    padding: 15px 40px;
    /* padding: .6em 1.8em;*/
    transition: 0.25s;
    text-decoration: none !important;
    background-color: transparent;
    display: flex;
    gap: .5rem;
    text-wrap: nowrap;
    /*border-radius: 25px;
    transition: background-color 0.2s ease-in-out, color 0.5s ease-in-out;*/

    @include button;

    &:hover {
        transition: 0.25s;
        text-decoration: none;
    }

    i {
        display: flex;
        align-items: center;
        height: 1.5em;
    }
}

@mixin btn-square {
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid;
    padding: 15px 40px;
    font-size: 16px;
    transition: 0.25s;
    text-decoration: none !important;
    background-color: transparent;

    @include button;

    &:hover {
        transition: 0.25s;
        text-decoration: none;
    }
}

@mixin btn2  {
    font-size: .9rem;
    padding: .6em 1.8em;
    display: flex;
    gap: .5rem;
    text-wrap: nowrap;
    border-radius: var(--border-medium);
    text-decoration: none;
    background-color: transparent;
    border: 0;
    cursor: pointer;

    i {
        display: flex;
        align-items: center;
        height: 1.5em;
    }
}

@mixin btn-circle {
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid;
    transition: 0.25s;
    text-decoration: none !important;
    outline: none !important;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: transparent;

    &:hover {
        transition: 0.25s;
        text-decoration: none;
    }
}

@mixin button-hover($bg-color, $border-color) {
    background: $bg-color !important;
    border: 3px solid $border-color !important;
}