@page "/signout"

@inject SignInManager<ApplicationUser> SignInManager
@inject NavigationManager NavigationManager

<h3>Loggar ut...</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        await SignInManager.SignOutAsync();
        NavigationManager.NavigateTo("/signin", forceLoad: true);
    }
}
