@page "/signout"
@inject SignInManager<ApplicationUser> SignInManager
@inject NavigationManager NavigationManager

<h3>Logging out...</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        // Log out the user
        await SignInManager.SignOutAsync();

        // Redirect to signin page
        NavigationManager.NavigateTo("/signin", forceLoad: true);
    }
}
