@using PunchCardApp.Components.Sections
@inherits LayoutComponentBase
@layout PunchCardApp.Components.Layout.MainLayout


<section class="accountLayout">
    <div class="wrapper">
        <PunchCardApp.Components.Sections.Header />
        <main>
            @Body
        </main>
     </div>
</section>