@inherits LayoutComponentBase
@layout PunchCardApp.Components.Layout.MainLayout

<section class="accountLayout">
    
   @* <PunchCardApp.Components.Sections.AutoHideSidebar></PunchCardApp.Components.Sections.AutoHideSidebar>  *@
   @*  <PunchCardApp.Components.Layout.NavMenu></PunchCardApp.Components.Layout.NavMenu> *@

    <main>

        @Body
      @*   <div class="top-row px-4">
        
        </div>

        <article class="content px-4">
          
        </article> *@
    </main>


</section>