@inherits LayoutComponentBase
@layout PunchCardApp.Components.Layout.MainLayout

<section class="accountLayout">
    <div class="wrapper">
        <PunchCardApp.Components.Sections.Header />
        <PunchCardApp.Components.Sections.HeaderNavBar />
        @* Kill your darlings... *@
        @* <PunchCardApp.Components.Sections.AutoHideSidebar></PunchCardApp.Components.Sections.AutoHideSidebar> *@
        <main>
            @Body
        </main>
        @* <PunchCardApp.Components.Sections.Footer /> *@
    </div>
</section>