﻿@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Identity
@using PunchCardApp.Data

@inject NavigationManager NavigationManager
@inject HttpClient HttpClient
@inject AuthenticationStateProvider AuthenticationStateProvider



@* <div class="profile">
    <div class="profile-image">
        <img src="/images/profiles/avatar.jpg" />
    </div>
    <div class="profile-info">
        <NavLink><a class="btn-transparent" href="Account/Deets"><i class="fa-regular fa-gear"></i>Account Details</a></NavLink>
        <NavLink><a class="btn-transparent" href="Account/Manage/ChangePassword"><i class="fa-solid fa-arrow-right-to-bracket"></i>Security</a></NavLink>
        <NavLink><a class="btn-transparent" href="Account/Manage/Notifications"><i class="fa-solid fa-arrow-right-to-bracket"></i>Notifications</a></NavLink>
        <NavLink><a class="btn-transparent" href="Account/SavedCourses"><i class="fa-solid fa-arrow-right-to-bracket"></i>Saved Items</a></NavLink>
        <NavLink><a class="btn-transparent" href="Account/Manage/Logout"><i class="fa-solid fa-arrow-right-to-bracket"></i>Sign Out</a></NavLink>
    </div>
</div> *@


@code {
    private void HandleSignOut()
    {
        NavigationManager.NavigateTo("authentication/logout", forceLoad: true);
    }
}