@page "/Account"
@using PunchCardApp.Components.Assets
@using PunchCardApp.Models
@using PunchCardApp.Components.Layout
@layout AccountLayout

@rendermode InteractiveServer

<PageTitle>Home</PageTitle>
<PunchCardApp.Components.Mobile.MobHeader />
<main class="main-content">
    <PunchCardApp.Components.Mobile.MobIndex />
    <div class="content-card">
      <h1>Welcome!</h1>
      <p>This is your main content area with a nice card-like appearance.</p>
    </div>
  </main>


<PunchCardApp.Components.Mobile.MobFooter />

