@inherits LayoutComponentBase
@layout PunchCardApp.Components.Layout.MainLayout

<section class="account-deets">
    <div class="container">
        <aside>
            <PunchCardApp.Components.Admin.Pages.AdminSidebar />
            @*     <ManageNavMenu /> *@
        </aside>
        <div class="content">
            @Body
        </div>
    </div>
</section>