@using PunchCardApp.Components.Account.Shared
@inherits LayoutComponentBase
@layout PunchCardApp.Components.Layout.MainLayout

<section class="mobile">
	<PunchCardApp.Components.Mobile.MobHeader />
	@Body
	<PunchCardApp.Components.Mobile.MobFooter />
</section>

