<section id="mobile-footer">
		<button class="btn-social"><i class="fa-brands fa-facebook"></i>Hem</button>
	<button class="btn-social"><i class="fa-brands fa-facebook"></i>Historik</button>
	<button class="btn-social"><i class="fa-brands fa-facebook"></i>Profil</button>
	<button class="btn-social"><i class="fa-brands fa-facebook"></i>Konto</button>
	
	<div class="copyright">
		<p>©@DateTime.Now.Year Muskelbyrån.</p>
	</div>

	
</section>

@code {

}
