@*
    Baserad på referens (6). Bygg en hemsida med HTML och CSS - Lindh, J (2024-09-23)
 *@
@using Microsoft.AspNetCore.Authentication.Cookies
@using Microsoft.AspNetCore.Authorization
@using PunchCardApp.Services
@using Microsoft.AspNetCore.Authentication

@inject NavigationManager NavigationManager
@inject IHttpContextAccessor HttpContextAccessor
@inject RoleService RoleService
@inject SignInManager<ApplicationUser> signInManager

@* @rendermode InteractiveAuto *@

@attribute [Authorize]


<nav class="main-nav" aria-label="main navigation">
    <a href="#main" class="skip-link">Skip to main content</a>
    <div class="container">
        <a href="/">
            <img class="show-light" src="/images/new-logo.png" alt="Muskelbyrån logo">
        </a>
        <button class="menu-btn" aria-controls="main-menu" aria-expanded="false" aria-label="toggle navigation">
            <i class="fa-solid fa-bars"></i>
        </button>
        <ul id="main-menu" class="main-menu hide">
            <li>
                <NavLink class="nav-link" href="/account">Hem</NavLink>
            </li>
            <li>
                <NavLink class="nav-link" href="/account/deets">Profil</NavLink>
            </li>
            <li>
                <NavLink class="nav-link" href="/account/feedback">Kontakt</NavLink>
            </li>
            @if (IsManager)
            {
                <li>
                    <NavLink class="nav-link" href="/admin/aardvark">Backoffice</NavLink>
                </li>
            }
@*             <li>
                <button class="btn2 btn-primary btn-rounded" @onclick="HandleSignOut">
                    <i class="fa-solid fa-arrow-right-to-bracket"></i>Logga ut
                </button>
            </li> *@

        </ul>
    </div>
</nav>

<aside id="mobile-navbar">
    <NavLink class="nav-item" href="/account">
        <i class="fa-solid fa-house"></i>
        <span>Hem</span>
    </NavLink>
    <NavLink class="nav-item" href="/account/deets">
        <i class="fa-regular fa-user"></i>
        <span>Profil</span>
    </NavLink>
    <NavLink class="nav-item" href="/account/feedback">
        <i class="fa-regular fa-comment"></i>
        <span>Kontakt</span>
    </NavLink>
    @if (IsManager)
    {
        <NavLink class="nav-item" href="/admin/aardvark">
            <i class="fa-solid fa-poo"></i>
            <span>Backoffice</span>
        </NavLink>
    }
</aside>

@code {
    private bool IsManager { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        IsManager = await RoleService.IsManagerAsync();
    } 

    // private async Task HandleSignOut()
    // {        
    //     NavigationManager.NavigateTo("/signout", forceLoad: true);
    // }
}