<style>

    /* Right content styling (for the aside) */
    .right-content {
        width: 28%; /* Take up 28% of the width */
        float: right; /* Float to the right of the main content */
        padding: 20px; /* Add some padding */
        background-color: #f4f4f4; /* Light background color */
        border: 1px solid #ddd; /* Border around the aside */
        box-sizing: border-box; /* Ensure padding doesn't affect overall width */
    }


</style>

<aside class="right-content">
	<h3>Component</h3>
</aside>


@code {

}
