<div class="events">
<NavLink class="btn btn-primary" href="/courses/edit/">Skapa kurs /courses/edit</NavLink>
<NavLink class="btn btn-primary" href="#">Se kursdetaljer /courses/course/x</NavLink>
<NavLink class="btn btn-primary" href="/courses">Lista alla kurser</NavLink>
<NavLink class="btn btn-primary" href="/courses/maintainance">Rensa bilder /courses/maintainance</NavLink>
</div>